@font-face {
  font-family: "neue machina";
  src: url(../assets/fonts/NeueMachina-Light.woff) format("woff");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "neue machina";
  src: url(../assets/fonts/NeueMachina-Regular.woff) format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "neue machina";
  src: url(../assets/fonts/NeueMachina-Ultrabold.woff) format("woff");
  font-weight: 800;
}
section.products-section {
  border: 1px solid #D7D7D7;
  border-radius: 15px;
  color: wheat !important;
  display: grid;
  background: rgba(14, 14, 14, 0.7);
  border: 1px solid rgba(255, 255, 255, 0.35);
  backdrop-filter: blur(7.5px);
  /* Note: backdrop-filter has minimal browser support */
  border-radius: 53px;
}
section.products-section .products {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  padding-left: 3.25rem;
  cursor: pointer;
  position: relative;
  max-width: 100%;
  padding-top: auto;
}
section.products-section .products img.img {
  overflow: visible; /* allow the image to overflow the flex container */
  transform: translateX(2rem);
}
section.products-section .products .card-details {
  justify-self: flex-end;
  margin-top: auto !important;
  color: white !important;
  display: flex;
  justify-content: space-between;
}
section.products-section .products .card-details .card-lhs {
  transform: translateY(-4rem);
  align-self: flex-end;
  flex-shrink: 0;
}
section.products-section .products .card-details .card-lhs .product-copies {
  display: flex;
  flex-direction: column;
}
section.products-section .products .card-details .card-lhs .product-copies > h1 {
  font-size: 3.75em;
  font-weight: 800;
  max-width: 26.625rem;
  background: linear-gradient(96.41deg, rgba(255, 255, 255, 0.7) -5.51%, #FFFFFF 62.38%, rgba(255, 255, 255, 0.13) 116.64%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}
section.products-section .products .card-details .card-lhs .product-copies > p {
  font-size: 1.75rem;
  margin-top: 0.625em;
  max-width: 36.545rem;
  line-height: 120%;
  font-weight: 400;
  background: linear-gradient(96.41deg, rgba(255, 255, 255, 0.42) -5.51%, rgba(255, 255, 255, 0.6) 62.38%, rgba(255, 255, 255, 0.078) 116.64%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}
section.products-section .products .card-details .card-lhs button.button {
  --x: 50%;
  --y: 50%;
  font-family: "Neue Machina";
  margin-top: 3rem;
  transition: all 0.1s ease-in-out;
  position: relative;
  appearance: none;
  padding: 1.25rem;
  color: white;
  cursor: pointer;
  outline: none;
  border-radius: 13.4032px;
  font-weight: 800;
  /* The magic */
  border: 2px solid transparent;
  background: linear-gradient(rgba(242, 5, 159, 0.1843137255), rgba(62, 10, 45, 0.3490196078)) padding-box, radial-gradient(farthest-corner at var(--x) var(--y), #f2059f, #5f17a7, rgba(14, 207, 229, 0.1411764706)) border-box;
  border: 1px solid transparent;
  font-size: 1.25rem;
}

.products-wrapper {
  margin-bottom: 3.375rem;
}
.products-wrapper > h1 {
  margin-top: 3.635rem !important;
  font-size: 2.25rem;
  margin-bottom: 2.875rem !important;
  text-align: center;
  max-width: 33rem;
  text-align: center;
  margin: 0 auto;
  background: linear-gradient(96.41deg, rgba(255, 255, 255, 0.7) -5.51%, #FFFFFF 62.38%, rgba(255, 255, 255, 0.13) 116.64%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.products-data-container {
  max-width: 93%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1.5rem;
}
.products-data-container > :first-child {
  grid-column: 1/-1;
}
.products-data-container > * {
  height: 576px;
  min-width: 100%;
}

/*# sourceMappingURL=products.css.map */
